# SQlite Tutorial

In [1]:
import sqlite3 as lite

In [2]:
print(lite.version)

2.6.0

In [3]:
connection = lite.connect('datas.db')

In [4]:
if connection:
    print("Connection established succesfully.")
else:
    print("Connection failed!")

Connection established succesfully.

In [5]:
# choose the connected data
# isaretci nesnesi baglanti nesnesinin cursor() methodu ile
# olusturulur.
database_choose = connection.cursor()

# CREATE DATABASE

In [6]:
# choose the connected data
database_choose.execute('''
CREATE TABLE students(
id INTEGER PRIMARY KEY,
student_number INTEGER NOT NULL,
name VARCHAR(50),
last_name VARCHAR(50)
)
''')

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

OperationalError: table students already exists

In [7]:
database_choose.execute('''
INSERT INTO students (id, student_number, name, last_name) VALUES ('1', '601', 'Mayk', 'Jony')''')

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 94))

IntegrityError: UNIQUE constraint failed: students.id

In [8]:
database_choose.execute('''
INSERT INTO students (id, student_number, name, last_name) VALUES ('2', '602', 'Josef', 'Smith')''')

In [9]:
connection.commit()

In [10]:
connection.close()

# VERI TABANI OKUMA

In [11]:
# open databe
connection = lite.connect('datas.db')

In [12]:
# choose the connected data
# isaretci nesnesi baglanti nesnesinin cursor() methodu ile
# olusturulur.
database_choose = connection.cursor()

In [6]:
# init the object
read = database_choose.execute('SELECT * FROM students')

In [14]:
# show the data
print(read.fetchall())

[(1, 601, 'Mayk', 'Jony'), (2, 602, 'Josef', 'Smith')]

In [7]:
# fetchone() ilg veriyi ceker
print(read.fetchone())

(1, 601, 'Mayk', 'Jony')

In [8]:
# fetchmany(quiered data) parametre olarak yazilan veriyi ceker.
print(read.fetchmany(2))

[(2, 602, 'Josef', 'Smith')]

# RETRIEVE SPECIFIC INFO

In [7]:
# read specific information from database
read = database_choose.execute('SELECT name, last_name, student_number FROM students')
# print the information with an explicative phrase
for info in read.fetchall():
    print("First Name : %s\nLast Name : %s\nStudent Number : %s" % (info))

First Name : Mayk
Last Name : Jony
Student Number : 601
First Name : Josef
Last Name : Smith
Student Number : 602

In [17]:
# after making a change into a database,
# save it by sqlite3's commit() method.
connection.commit()

In [17]:
# It's reccomended closing the database after opening it once.
connection.close()

# # SQLite Alanlara Gore Cagirma

In [7]:
import sqlite3 as lite

In [8]:
connection = lite.connect('datas.db')

In [9]:
connection.row_factory = lite.Row

In [10]:
choose_database = connection.cursor()

In [11]:
read = choose_database.execute('SELECT name, last_name, student_number FROM students')

In [12]:
for info in read.fetchall():
    print(info['name'], info['last_name'], info['student_number'])

Mayk Jony 601
Josef Smith 602

# PYTHON DOCS VUUU!!!

In [13]:
import sqlite3

In [14]:
# here data will be stored in conn 
conn = sqlite3.connect('example.db')

In [15]:
# create a curser object and call its execute() method
cursor = conn.cursor()

In [16]:
cursor.execute("""CREATE TABLE students
(name text, last_name text)""")

In [17]:
# save(commit) the changes
conn.commit()

In [18]:
# close the file
conn.close()

In [1]:
# HOW TO INSERT NEW DATA

In [1]:
import sqlite3

In [2]:
# here data will be stored in conn 
connection = sqlite3.connect('example.db')

In [4]:
# create a curser object and call its execute() method
cursor = connection.cursor()

In [5]:
exam = ('mayk',)

In [7]:
cursor.execute("SELECT * FROM students WHERE name=?", exam)
print(cursor.fetchone())

None

In [8]:
recien = [('josef', 'smith'),
         ('merve', 'basaran')]

In [10]:
connection.executemany('INSERT INTO students VALUES (?,?)', recien)

In [ ]:
# A minimal SQLite shell for experiments

import sqlite3

con = sqlite3.connect(":memory:")
con.isolation_level = None
cur = con.cursor()

buffer = ""

print("Enter your SQL commands to execute in sqlite3.")
print("Enter a blank line to exit.")

while True:
    line = input()
    if line == "":
        break
    buffer += line
    if sqlite3.complete_statement(buffer):
        try:
            buffer = buffer.strip()
            cur.execute(buffer)

            if buffer.lstrip().upper().startswith("SELECT"):
                print(cur.fetchall())
        except sqlite3.Error as e:
            print("An error occurred:", e.args[0])
        buffer = ""

con.close()

Enter your SQL commands to execute in sqlite3.
Enter a blank line to exit.
dfghdfgh

# YOUTUBE TUTORIAL

In [ ]:
class Patient:
    "A sample patient class"
    
    def __init__(self, first, last, grafts):
        self.first = first
        self.last = last
        self.grafts = grafts
        
    @property
    def email(self):
        return "{}.{}@drkeser.com".format(self.first, self.last)
    
    @propert
    def fullname(self):
        return "{} {}".format(self.first, self.last)
    
    def __repr__:
        return "Patient('{}', '{}', '{}')".format(self.first, self.last, self.grafts)