In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('patients.db')

In [3]:
cursor = conn.cursor()

In [5]:
# create a database
cursor.execute("""CREATE TABLE patients (
first text,
last text,
grafts integer
)""")

In [9]:
# insert new data into the database
cursor.execute("""INSERT INTO patients VALUES ('Josef', 'Smith', 2700)""")

In [12]:
# select method of sqlite
cursor.execute("SELECT * FROM patients")

In [ ]:
# select method of sqlite
cursor.execute("SELECT * FROM patients WHERE last='Jony'")

In [13]:
print(cursor.fetchall())

[('Mayk', 'Jony', 2100), ('Nevil', 'Jony', 2100), ('Josef', 'Smith', 2700)]

In [8]:
conn.commit()

In [6]:
conn.close()