In [8]:
import sqlite3

In [9]:
conn = sqlite3.connect('patients.db')

In [10]:
cursor = conn.cursor()

In [5]:
# create a database
cursor.execute("""CREATE TABLE patients (
first text,
last text,
grafts integer
)""")

In [11]:
# insert new data into the database
cursor.execute("""INSERT INTO patients VALUES ('Mayk', 'Jony', 2100)""")

In [12]:
# select method of sqlite
cursor.execute("SELECT * FROM students WHERE last='Jony'")

OperationalError: no such table: students

In [6]:
conn.commit()

In [7]:
conn.close()